version: "3.9"

services:

  dnsmasq:
    image: andyshinn/dnsmasq:latest
    container_name: dnsmasq
    restart: always
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - ./logs/:/var/log/
      - ./dnsmasq/dnsmasq.conf:/etc/dnsmasq.conf

  nginx:
    build:
      args:
        http_proxy: http://127.0.0.1:1080
        https_proxy: http://127.0.0.1:1080
      context: ./
      dockerfile: Dockerfile-nginx
    image: nginx-openssl:latest
    container_name: mitm-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl
      - ./nginx/generate_cert.lua:/usr/local/openresty/lua/generate_cert.lua:ro
      - ./cache:/var/cache/nginx
      - ./logs/:/var/log/nginx/
    restart: always


# ca证书
# openssl req -new -newkey rsa:4096 -days 3650 -nodes -x509   -keyout myRootCA.key   -out myRootCA.pem   -subj "/C=CN/ST=GD/L=SZ/O=MySquidProxy/OU=ProxyCA/CN=MySquidRootCA"
# openssl x509 -in myRootCA.pem -out myRootCA.der -outform DER
# 客户电脑安装 myRootCA.der


# 占位证书
# openssl req -x509 -newkey rsa:2048 -nodes -keyout dummy.key -out dummy.crt -days 3650 -subj "/CN=invalid.local"


